@font-face {
    font-family: 'arcade_normalregular';
    src: url('../webfontkit/arcade_n-webfont.woff2') format('woff2'),
         url('../webfontkit/arcade_n-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arcade_interlacedregular';
    src: url('../webfontkit/arcade_i-webfont.woff2') format('woff2'),
         url('../webfontkit/arcade_i-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  background-image: url("../images/background.jpg");
  font-family: arcade_interlacedregular, sans-serif;
}

h1 {
  font-family: arcade_normalregular, sans-serif;
  font-size: 35px;
  line-height: 50px;
  color: white;
  text-align: center;
}
button.btn {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: arcade_interlacedregular, sans-serif;
}
.btn {
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  margin: 10px;
  text-align: center;
  border: none;
  text-decoration: none;
  background-color: rgba(255, 0, 0, 0.0);
  display: flex;
  justify-content: center;
  font-family: arcade_interlacedregular, sans-serif;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.container {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 400px;
}
table.center {
  border-collapse: collapse;
  border-style: hidden;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
}
table td {
  border: 4px solid black;
  margin-left: auto;
  margin-right: auto;
}

table.mini {
  border-collapse: collapse;
  border-style: hidden;
  margin: 10px;
  height: 90%;
  width: 90%;
}

table.mini td {
  border: 2px solid black;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

table.mini td:hover{
  background-color: white;
}
