@font-face {
    font-family: 'arcade_normalregular';
    src: url('../webfontkit/arcade_n-webfont.woff2') format('woff2'),
         url('../webfontkit/arcade_n-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arcade_interlacedregular';
    src: url('../webfontkit/arcade_i-webfont.woff2') format('woff2'),
         url('../webfontkit/arcade_i-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
/*grid view for responsive layout*/
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

body {
  background-image: url("../images/background_extended.jpg");
  background-repeat: repeat-x;
  background-color: #201a56;
  font-family: arcade_interlacedregular, sans-serif;
}

h1 {
  font-family: arcade_normalregular, sans-serif;
  font-size: 35px;
  line-height: 50px;
  color: white;
  text-align: center;
}
.button-section {
  background-color: rgba(0, 0, 0, 0.5);
  float: left;
}
button.btn {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: arcade_interlacedregular, sans-serif;
  line-height: 1.6;
}
.btn {
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  margin: 10px;
  text-align: center;
  border: none;
  text-decoration: none;
  background-color: rgba(255, 0, 0, 0.0);
  display: flex;
  justify-content: center;
  font-family: arcade_interlacedregular, sans-serif;
  line-height: 1.6;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.container {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 400px;
}
table.center {
  border-collapse: collapse;
  border-style: hidden;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
}
table td {
  border: 4px solid black;
  margin-left: auto;
  margin-right: auto;
}

table.mini {
  border-collapse: collapse;
  border-style: hidden;
  margin: 10px;
  height: 90%;
  width: 90%;
}

table.mini td {
  border: 2px solid black;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

table.mini td:hover{
  background-color: white;
}

.containerrules {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    line-height: 110%;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
